# Dependencias de Node
/node_modules
/public/build
/public/hot

# Archivos generados y de almacenamiento
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs
/bootstrap/cache

# Entornos
.env
.env.backup
.env.production
!.env.example

# Archivos temporales y de pruebas
.phpunit.result.cache
/.phpunit.cache
/coverage
*.bak
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Configuraciones de IDE
/.fleet
/.idea
/.vscode

# Archivos del sistema
.DS_Store
Thumbs.db

# Dependencias de Composer
/vendor
